<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hello! I'm Senator Olorunnisola, a passionate and dedicated Junior Software Developer with a strong focus on Python programming. My journey into the world of software development began with my fascination for problem-solving and creating efficient solutions.
            </p>
            <p class="paragraph-text justify-text">
                I thrive on challenges and am always excited to learn and apply new technologies to enhance my skills. My experience includes working on various projects, from web applications to automation scripts, where I've honed my abilities in Python, version control, and collaborative teamwork. I'm enthusiastic about contributing to projects that have a positive impact and bring value to users.
            </p>
            <p class="paragraph-text justify-text">
                I'm excited to continue growing as a developer, tackling new challenges, and collaborating with fellow enthusiasts. if you're interested in discussing new opportunities or want to chat about tech, feel free to reach out!
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">senator_dev</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8E9990JJRE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8E9990JJRE');
</script>
</div>
