<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Blog</div>
            <div class="blogs-wrapper" id="rss-feeds"></div>
        </div>
    </section>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8E9990JJRE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8E9990JJRE');
</script>
</div>
